
<app-add-task (onAddTask)="addTask($event)"></app-add-task>

<app-filter (onFilter)="displayFilteredTasks($event)" [allTasks]="tasks"></app-filter>


<h4 class="text-center p-4 border mx-5" *ngIf="this.filteredTasks.length == 0; else elseBlock">No Tasks to display, Please add Tasks from above.</h4>
<ng-template #elseBlock>
    <app-task-item
        *ngFor="let task of filteredTasks"
        [task]="task"
        (onDeleteTask)="deleteTask(task)"
        (onToggleReminder)="toggleReminder(task)">
    </app-task-item>
</ng-template>

