<div>
  <h2>Task Tracker</h2>
  <h4>Version 1.0.0</h4>
  <p>A Full-Stack ongoing hobby project built by me while learning Angular.</p>
  <div class="d-flex justify-content-around">

    <ul>
      <h5>Tech Stack:-</h5>
      <li>Angular</li>
      <li>Bootstrap</li>
      <li>SpringBoot</li>
      <li>Spring Security</li>
      <li>Java</li>
      <li>MySQL</li>
    
     </ul>
    
     <ul>
      <h5>Features:-</h5>
      <li>Login/Logout</li>
      <li>Authorization and Session Management using JWT token</li>
      <li>Filter & Sorting</li>
      <li>All basic CRUD operations</li>
     </ul>
    
     <ul>
     <h5>Resources:- </h5>
     <li>freeCodeCamp</li>
     <li>Traversary Media</li>
     <li>Code with Harry</li>
     <li>Angular Documentation</li>
     <li>StackOverFlow</li>
     </ul>
  </div>
 


  <a routerLink="/">Go Back</a>
</div>