<div class="container mt-5">
  <h2>Task Tracker</h2>
  <h4>Version 1.2.0</h4>
  <p class="mb-4">A Full-Stack ongoing hobby project built by me while learning Angular.</p>
  <hr>
  <div class="row justify-content-around">

    <div class="col-md-4">
      <h5 class="text-info ">Features:</h5>
      <ul class="list-group fw-semibold">
        <li class="list-group-item list-group-item-dark">Login/Logout</li>
        <li class="list-group-item list-group-item-dark">Authorization and Session Management using JWT</li>
        <li class="list-group-item list-group-item-dark">Filter & Sorting</li>
        <li class="list-group-item list-group-item-dark">All basic CRUD operations</li>
        <li class="list-group-item list-group-item-dark">User can Update their Profile/Profile Picture</li>
        <li class="list-group-item list-group-item-dark">Form Validation using Angular Reactive Forms</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h5 class="text-info">Tech Stack:</h5>
      <ul class="list-group fw-semibold">
        <li class="list-group-item list-group-item-dark">Angular</li>
        <li class="list-group-item  list-group-item-dark">Bootstrap</li>
        <li class="list-group-item  list-group-item-dark">SpringBoot</li>
        <li class="list-group-item  list-group-item-dark">Spring Security</li>
        <li class="list-group-item  list-group-item-dark">Java</li>
        <li class="list-group-item  list-group-item-dark">MySQL</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5 class="text-info">Resources:</h5>
      <ul class="list-group fw-semibold ">
        <li class="list-group-item list-group-item-dark">freeCodeCamp</li>
        <li class="list-group-item list-group-item-dark">Traversary Media</li>
        <li class="list-group-item list-group-item-dark">Masai School's Angular Crashcourse</li>
        <li class="list-group-item list-group-item-dark">Code with Harry</li>
        <li class="list-group-item list-group-item-dark">Angular Documentation</li>
        <li class="list-group-item list-group-item-dark">StackOverflow</li>
      </ul>

    </div>

    <a routerLink="/" class="mt-4">
      <i class="fas fa-arrow-left"></i> Go Back
    </a>
  </div>

  </div>

