<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark sticky-top" style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">TaskPlanner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>

      <!-- <button class="btn btn-success" routerLink="login">Login/SignUp</button>
      <button class="btn btn-danger">Logout</button> -->

      <app-button
            
            color="{{ isLoggedIn ? 'red' : 'green' }}" 
            text="{{ isLoggedIn ? 'Logout' : 'Login/Signup' }}"
            (btnClick)="isLoggedIn ? logout() : redirectToLogin()">
      </app-button>


    </div>
  </div>
</nav>
<div class="container">

  <app-header></app-header>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>