<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top navbar-dark" style="background-color: rgb(65, 65, 71);">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">TaskPlanner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>

      <!-- <button class="btn btn-success" routerLink="login">Login/SignUp</button>
      <button class="btn btn-danger">Logout</button> -->
      <div class="d-flex justify-content-between">
        <a *ngIf="isLoggedIn" routerLink="/profile">
          <img class="profile-picture rounded-circle mx-4 border border-success " [src]="loggedInUser.profileImageUrl"
            alt="User Profile Picture" width="40" height="40">
        </a>
        <app-button color="{{ isLoggedIn ? 'red' : 'green' }}" text="{{ isLoggedIn ? 'Logout' : 'Login/Signup' }}"
          (btnClick)="isLoggedIn ? logout() : redirectToLogin()">
        </app-button>
      </div>

    </div>
  </div>
</nav>
<div class="container">
  <div class="container text-center" *ngIf="isLoggedIn == false || isLoggedIn == null">
    <h2 class="text-danger">Please login to continue !!</h2>
  </div>

  <app-header *ngIf="isLoggedIn"></app-header>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
